{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Imagen</h1>
    <p>algo de datos</p>
  </div>

  <div class="col-4">
    <img src="assets/img/never.jpg" alt="" class="img-thumbnail">

  </div>
</div>




{{> footer }}
